<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.system.mapper.DepartmentsMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parentId, depPath, enabled, isParent
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lym.system.entity.Departments">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parentId" property="parentId" />
        <result column="depPath" property="depPath" />
        <result column="enabled" property="enabled" />
        <result column="isParent" property="isParent" />
    </resultMap>
    <resultMap id="DepartmentWithChildren" type="com.lym.system.entity.Departments" extends="BaseResultMap">
        <!--递归查询，调用查询方法后，返回一个id，column="id" ，用这个ID在调用该方法，查询所有数据-->
        <collection property="children" ofType="com.lym.system.entity.Departments"
                    select="com.lym.system.mapper.DepartmentsMapper.getAllInFo" column="id">

        </collection>
    </resultMap>

    <!--获取所有部门-->
    <select id="getAllInFo" resultMap="DepartmentWithChildren">
        select
        <include refid="Base_Column_List" />
        from t_departments
        where parentId = #{parentId}
    </select>
    <!--添加部门-->
    <select id="addDept" statementType="CALLABLE" resultType="java.lang.Integer">
        call addDep
            (#{name,mode=IN,jdbcType=VARCHAR},#{parentId,mode=IN,jdbcType=INTEGER},
            #{enabled,mode=IN,jdbcType=BOOLEAN},#{result,mode=OUT,jdbcType=INTEGER},
            #{id,mode=OUT,jdbcType=INTEGER})
    </select>
    <!--删除部门-->
    <select id="deleteDept" statementType="CALLABLE" >
        call deleteDep(#{id,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})
    </select>
</mapper>
