<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.system.mapper.MenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lym.system.entity.Menu">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="name" property="name"/>
        <result column="iconCls" property="iconcls"/>
        <result column="keepAlive" property="keepalive"/>
        <result column="requireAuth" property="requireauth"/>
        <result column="parentId" property="parentid"/>
        <result column="enabled" property="enabled"/>
    </resultMap>
    <!-- 通用查询映射结果 -->

    <resultMap id="Menus" type="com.lym.system.entity.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.lym.system.entity.Menu">
            <id column="id2" property="id"/>
            <result column="url2" property="url"/>
            <result column="path2" property="path"/>
            <result column="component2" property="component"/>
            <result column="name2" property="name"/>
            <result column="iconCls2" property="iconcls"/>
            <result column="keepAlive2" property="keepalive"/>
            <result column="requireAuth2" property="requireauth"/>
            <result column="parentId2" property="parentid"/>
            <result column="enabled2" property="enabled"/>
        </collection>
    </resultMap>
    <!--    <resultMap id="MenusBuRole" type="com.lym.system.entity.Menu" extends="BaseResultMap">-->
    <!--        <collection property="roles" ofType="com.lym.system.entity.Role">-->
    <!--            <id column="rid" property="id"/>-->
    <!--            <result column="rname" property="name"/>-->
    <!--            <result column="rnameZh" property="n"/>-->
    <!--        </collection>-->

    <!--    </resultMap>-->
<!--    <resultMap id="MenusByRole" type="com.lym.system.entity.Menu"  extends="BaseResultMap" >-->
<!--        <collection property="roles" ofType="com.lym.system.entity.Role">-->
<!--            <id column="id" property="id"/>-->
<!--            <result column="rname" property="name"/>-->
<!--            <result column="namezh" property="name"></result>-->

<!--        </collection>-->
<!--    </resultMap>-->

    <resultMap id="RoleMap" type="com.lym.system.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"></result>
        <result column="nameZh" property="namezh"/>
    </resultMap>
    <select id="getMenusByUserId" resultMap="Menus">
        SELECT DISTINCT
            m1.*,
            m2.id AS id2,
            m2.url AS url2,
            m2.path AS path2,
            m2.component AS component2,
            m2.`name` AS name2,
            m2.iconCls AS iconCls2,
            m2.keepAlive AS keepAlive2,
            m2.requireAuth AS requireAuth2,
            m2.parentId AS parentId2,
            m2.enabled AS enabled2
        FROM
            t_menu m1,
            t_menu m2,
            t_admin_role ar,
            t_menu_role mr
        WHERE
            m1.id = m2.parentId
          AND m2.id = mr.mid
          AND mr.rid = ar.rid
          AND ar.adminId = #{id}
          AND m2.enabled = TRUE
        ORDER BY
            m2.id
    </select>

    <select id="getMenuByRole" resultMap="BaseResultMap" parameterType="int">
        select * from t_menu where id in (select mid from t_menu_role where rid=#{id} )
    </select>

    <!--自连接三次，获取多级子菜单-->
    <resultMap id="MenusWithChildren" type="com.lym.system.entity.Menu" extends="BaseResultMap">
        <id column="id1" property="id" />
        <result column="name1" property="name" />
        <collection property="children" ofType="com.lym.system.entity.Menu">
            <id column="id2" property="id" />
            <result column="name2" property="name" />
            <collection property="children" ofType="com.lym.system.entity.Menu">
                <id column="id3" property="id" />
                <result column="name3" property="name" />
            </collection>
        </collection>
    </resultMap>
    <select id="getAllMenus" resultMap="MenusWithChildren">
        SELECT
            m1.id AS id1,
            m1.NAME AS name1,
            m2.id AS id2,
            m2.NAME AS name2,
            m3.id AS id3,
            m3.NAME AS name3
        FROM
            t_menu m1,
            t_menu m2,
            t_menu m3
        WHERE
            m1.id = m2.parentId
          AND m2.id = m3.parentId
          AND m3.enabled = TRUE;
    </select>
</mapper>
